//on commence par les imports
@import "./base/normalise";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/tables";
@import "./utils/mixins";

body {
    max-width: 767px;
    margin: auto;
    position: relative;

  }
header {
    display: flex;
    // border: 1px solid black;
    margin-bottom: 10px;
  }

#entreprise {
    flex: 5;
    // padding-top: 5%;
    // padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
#menu_icon {
    font-size: 25px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    // display:none
  }

#logo {
    object-fit: cover;
    max-width: 100%;
}
h2{
  border: 1px solid black;
  border-radius: 50px;
  padding: 16%;
  width: 68%;
  text-align: center;
  margin-top: -1px;
  margin-bottom: 0px;
}

#access {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  width: 90%;
  border: 3px solid black;
  flex: 1;

}
.contenu{
  width: 90%;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 1%;
  align-self: flex-start;
  }
}
input{
  border-radius: 10px;
  align-items: center;
}
button{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}



footer {
  margin-bottom: 2%;
  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
}
