//on commence par les imports
@import "./base/normalise";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/tables";
@import "./utils/mixins";

body {
    max-width: 767px;
    margin: auto;
  }
header {
    display: flex;
    // border: 1px solid black;
    margin-bottom: 10px;
  }

#entreprise {
    flex: 5;
    // padding-top: 5%;
    // padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
#menu_icon, #connected_user {
    font-size: 25px;
    flex: 1;
    display: flex;
    align-items: center;
    // display:none
  }
  #menu_icon {
    justify-content: right;
  }

#logo {
    object-fit: cover;
    max-width: 100%;
}

h2{
  border: 1px solid black;
  border-radius: 50px;
  padding: 16%;
  width: 68%;
  text-align: center;
  margin-top: -1px;
  margin-bottom: 0px;
}
#menu{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  #user_disconnected {
    grid-column-start: 1;
  }
  #user_profile {
    grid-column-start: 3;
  }
  #create{
    grid-column-start: 5;
  }
}

#login, #signup {
  padding: 0;
}

#access, #social, #creation, #profil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_contain{
  flex: 1;
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
}

.connection {
  margin: 0;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  width: 90%;
  border: 3px solid black;
  flex: 1;
  padding-bottom: 5%;
}

.contenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-bottom: 1%;
  align-self: flex-start;
  }
  .buttons{
    display: flex;
  }
  .comment_post, .update_post, .delete_post {
border-radius: 10px;
  }
}

.contenu_creation{
  width: 90%;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 1%;
  align-self: flex-start;
  }
}

input{
  border-radius: 10px;
  align-items: center;
}
textarea {
  width: 100%;
  height: 300px;
}

.profil{
  margin-left: 20%;
  margin-right: 20%;
  input {
    width: 100%;
  }
}
button{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}
#post {
  &__title input{
    line-height: 2.15;
    width: 100%; 
  }
  &__text input{
    line-height: 20.15;
    width: 100%;
    margin-bottom: 5%;

  }
  &__image input{
      width: 100%;
      border-radius: 0;
  }
}
// #post__title input{
//   line-height: 2.15;
//   width: 100%;
// }

// #post__text input{
//   line-height: 20.15;
//   width: 100%;
//   margin-bottom: 5%;
// }
// #post__image input{
//   width: 100%;
//   border-radius: 0;
// }

.image_post{
  img{
    object-fit: cover;
    max-width: 100%;
  }
}

.title_post, .text_post{
padding: 1%;
}
.post_example {
  border: 1px solid black;
  width: 98%;
  margin-top: 1%;
  border-radius: 10px;
}

footer {
  margin-bottom: 2%;
  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
}
