<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupomania</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="shortcut icon" type="image/png" href="./sources/logo/icon.png"/>
</head>
<body>
    <allThePage>
        <header>
            <div id="menu_icon" v-show ="isConnected" @click="changeMenuOn">
                <i class="fas fa-bars"></i>
            </div>
            <div id="entreprise">
                <img id="logo" src="./sources/logo/icon-left-font-2.png" alt="logo entreprise"/>
            </div>

        </header>
        <main>
            <div id="menu" v-show ="menuOn" v-show ="isConnected" >
                <div id="user_disconnected" class="menu_contain" @click="disconnectUser">
                    <i class="fas fa-user-slash"></i>
                    <span>Déconnexion</span>
                </div>
                <div id="user_profile" class="menu_contain" @click="userProfile">
                    <i class="far fa-id-card"></i>
                    <span>profil</span>
                </div>
                <div id="create" class="menu_contain" @click="create">
                    <i class="fas fa-plus"></i>
                    <span>Créer</span>
                </div>
            </div>
            <container id = "access" v-show ="!isConnected">
                <div id="login" class="connection">
                    <h2 @click="changeLoginOn">se connecter</h2>
                    <form  class="contenu" v-show ="loginOn">
                        <label for="loginmail"><h3>email : </h3></label>
                        <input id="loginmail" v-model="login_email" type="text" placeholder= "   email entreprise"/>
                        <label for="loginpwd"><h3> mot de passe : </h3></label>
                        <input id="loginpwd" v-model="login_password" type="password" />
                        <button id="login_validation" @click="loginValidation"> VALIDER</button>
                    </form>
                </div>
                <div id="signup" class="connection">
                    <h2 @click="changeSignupOn">créer un compte</h2>
                    <form  id="form_signup" class="contenu" v-show ="signupOn">
                        <label for="signupmail"><h3>email : </h3></label>
                        <input id="signupmail" v-model="signup_email" type="text" placeholder= "   email entreprise"/>
                        <div id="emailErrorMsg" class="errorMessage">{{ this.emailErrorMsgContain}}</div>
                        <label for="signuppwd"><h3>mot de passe : </h3></label>
                        <input id="signuppwd" v-model="signup_password" type="password" />
                        <div id="passwordErrorMsg" class="errorMessage">{{ this.passwordErrorMsgContain}}</div>
                        <label for="signuppwd2"><h3>confirmer mot de passe : </h3></label>  
                        <input id="signuppwd2" v-model="signup_password2" type="password" placeholder= "   repetez le mot de passe svp"/>                
                        <div id="passwordErrorMsg2" class="errorMessage">{{ this.passwordErrorMsgContain2}}</div>
                        <label for="signuplastname"><h3>nom : </h3></label>
                        <input id="signuplastname" v-model="signup_lastName" type="text" />                
                        <label for="signupfirstname"><h3>prenom : </h3></label>
                        <input id="signupfirstname" v-model="signup_firstName" type="text" />
       
                        <button id="signup_validation" @click="signupValidation"> VALIDER</button>
                    </form>
                </div>
            </container>
            <container id="profil" v-show="seeProfile">
                <div id="post"  class="connection">
                    <h2>Profil utilisateur</h2>
                    <div class="contenu_creation">
                        <div class="profil">
                            <label for = "nom"><h3>votre nom : {{ nom }}</h3></label>
                            <input  id="nom" v-model="nom" type="text"/>
                        </div>
                        <div class="profil">
                            <label for = "prenom"><h3>votre prénom : {{ prenom }}</h3></label>
                            <input id="prenom" v-model="prenom" type="text"/>
                        </div>
                    </div>
                </div>
            </container>
            <container id="creation" v-show ="createMode">
                <div id="post"  class="connection">
                    <h2>creation</h2>
                    <form id="creationForm" class="contenu_creation" enctype="multipart/form-data">
                        <div id="post__title">
                            <label for="creationTitle"><h3>votre titre: {{ creationTitle }}</h3></label>
                            <input id="creationTitle" name ="creationTitle" v-model="creationTitle" type="text" placeholder= "   votre titre"/>
                        </div>
                        <div id="post__image">
                            <label for="creationfile"><h3>emplacement de l'image</h3></label>
                            <input id="creationfile" 
                            method="post" 
                            name ="creationfile" 
 
                            type="file"  
                            accept="image/, video/"
                            />
                        </div>
                        <div id="post__text">
                            <label for="creationText"><h3>votre texte</h3></label>
                            <textarea id="creationText" name ="creationText" v-model="creationText">
                            </textarea>
                            <input type="submit" value="VALIDER" id="creation_validation" @click="creationValidation"/>
                        </div>
                    </form>
                </div>
            </container>
            <container id="social" v-show ="isConnected">
                <div id="posts"  class="connection">
                    <h2 @click="seePosts">posts</h2>
                    <div id="posts_contenu" class="contenu" v-show="seeAllPosts">
                        <post class="post_example" v-for="post in posts">
                                <div class="title_post">
                                    <h3> {{ post.titre }} </h3>
                                    <h4> par: {{ post.pseudo }} </h4>
                                </div>
                                <div class="image_post" v-if='post.imageUrl !=""'>
                                    <img :src='post.imageUrl'  :alt="post.titre"/>                               
                                </div>
                               <div class="text_post">
                                    {{ post.contenu }}
                                </div>
                                <id class="post-id">{{ post.id }}</id>
                                <div class="buttons" @click="coucou(post.id)" id=":{{ post.id }}">                    
                                    <button id="comment_post" > voir + </button>
                                </div>
                            </post>
                    </div>
                </div>
            </container>
            <container id="onePost" v-show ="isSelected">
                <div id="posts"  class="connection">
                    <div class="title_post">
                        <h2>{{this.selectedTitle}}</h2>
                        <h3>par {{this.selectedUser}}</h3>
                    </div>
                    <div id="posts_contenu" class="contenu">
                            <div class="image_post" v-if='this.selectedImageUrl !=""'>
                                <img :src="this.selectedImageUrl"  :alt="this.selectedTitle"/>                              
                            </div>
                            <div class="text_post">
                                {{ this.selectedContain }}
                            </div>
                            <div class="buttons">
                                <button class="update_post" v-if="whoAmI == this.selectedUserId || this.selectedUserAdmin != null" @click="modifier"> modifier </button>
                                <button class="comment_post" @click="commenter"> commenter </button>
                                <button class="delete_post" v-if="whoAmI == this.selectedUserId || this.selectedUserAdmin != null" @click="supprimer" > supprimer </button>
                            </div>
                            <form action="javascript:void(0);"  id="modificationForm" class="contenu_creation" enctype="multipart/form-data" v-show="goToModify">
                                <div id="post__title">
                                    <label for="modificationTitle"><h3> titre: {{ this.modifiedTitle }}</h3></label>
                                    <input id="modificationTitle" name ="modificationTitle"  v-model="modifiedTitle" type="text" placeholder= "   votre titre"/>
                                </div>
                                <div id="post__image">
                                    <label for="modificationfile"><h3>emplacement de l'image</h3></label>
                                    <input id="modificationfile" 
                                    method="post" 
                                    name ="modificationfile" 
                                    type="file"  
                                    accept="image/, video/"
                                    />
                                </div>
                                <div id="post__text">
                                    <label for="modificationText"><h3> texte</h3></label>
                                    <textarea id="modificationText" name ="modificationText" v-model="modifiedContain">
                                        
                                    </textarea>
                                    
                                </div>
                                <input type="submit" value="VALIDER" id="modification_validation" @click="modificationValidation"/>
                            </form>
                            <div id="allComments" v-for="comment in allComments">
                                <div class="qui">
                                    {{ comment.pseudo }}
                                </div>
                                <div class="quoi">
                                    <!-- v-for="comment in comments" -->
                                    {{ comment.contenu}}
                                    <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. -->
                                </div>
                            </div>
                            <form class="addComment" v-show="addComment">
                                <textarea id="commentText" name ="commentText" v-model="commentText" placeholder="max : 200 caracteres">
                                </textarea>
                                <input type="submit" value="VALIDER" id="create_comment" @click="createComment"/>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </container>
        </main>
        <footer>
            <ul>
                <li><a href="#">Reglement Intérieur</a></li>
                <li><a href="mailto:contact@goupomania.fr">Contact</a></li>
            </ul>
            <i class="fas fa-copyright"> {{ copyright }}</i>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="./js/app.js"></script>
    </allThePage>
</body>
</html>